* { margin: 0; padding: 0;}

#darkside, #lightside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}

#darkside {
  -webkit-clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100vh);
  clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100vh);
  background: #212121;
  -webkit-transition: 1s all; /* Safari */
    transition: 1s all;
}

#lightside {
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100vh);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100vh);
  background: #d6d6d6;
}

#lightside_title{
  text-transform: uppercase;
  font-size:72px;
  font-style:Century Gothic;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-top: 65vh;
  margin-left: 50vw;
}

#darkside_title{
  text-transform: uppercase;
  font-size:72px;
  font-style:Century Gothic;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 20vh;
  margin-right: 50vw;
}
