* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
#darkside, #lightside, #darksidebackground, #lightsidebackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}
/*-------------------Background-------------------*/
#lightsidebackground, #darksidebackground{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-clip-path 0.7s; /* Safari */
  transition: -webkit-clip-path 0.7s;
}
#lightsidebackground{
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100vh);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100vh);
  background-image: url("../img/good.jpg");
}
#darksidebackground{
  -webkit-clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100vh);
  clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100vh);
  background-image: url("../img/bad.png");
}
/*-------------------Kopf Bilder-------------------*/
#darkside, #lightside{
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-clip-path 0.7s; /* Safari */
  transition: -webkit-clip-path 0.7s;
}

#darkside {
  -webkit-clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100%);
  clip-path: polygon(65% 0, 0 0, 0 100%, 35% 100%);
  background-image: url("../img/imperator.png");
}

#lightside {
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
  background-image: url("../img/FighterObiHead.png");
}

/*-------------------Titel-------------------*/
#header{
background-image: url("../img/titel-balken-background.jpg");
background-repeat: repeat;
height: 10vh;
}
#Titel {
  font-size:72px;
  font-family: Star Jedi, Impact,serif;
  -src: url(../fonts/starjedi/Starjedi.ttf);
  text-shadow: 1px  1px 30px white;
  text-align: center;
  color: white;
}

/*-------------------Beschriftungen-------------------*/
#lightside_title, #darkside_title{
  font-size:72px;
  font-family: Star Jedi, Impact,serif;
  -src: url(../fonts/starjedi/Starjedi.ttf);
  text-align: center;
  width:22%;
  -webkit-transition: margin-top 0.5s, margin-left 0.5s; /* Safari */
  transition: margin-top 0.5s, margin-left 0.5s;
  padding: 0, 0, 2px, 0;
  color: white;
}

#lightside_title{
  text-shadow: 1px  1px 70px blue;
  margin-top: 65vh;
  margin-left: 71vw;
}

#darkside_title{
  text-shadow: 1px  1px 70px red;
  margin-top: 20vh;
  margin-left: 5vw;
}
/*-------------------Button Allgemein-------------------*/
button {
  top:0;
  left:0;
  display: inline-block;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  transition: box-shadow 0.3s;
  width: 100px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:before {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:before {
  opacity: 1;
  right: 0;
}

button:focus {
  outline: 0;
}
/*-------------------Lightside Button-------------------*/
#lightside_button {
  background-color: #555555;
  color: #FFFFFF;
  display: none;
}

#lightside_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*-------------------Darkside Button-------------------*/
#darkside_button {
  background-color: #FFFFFF;
  color: black;
  display: none;
}

#darkside_button:hover {
  box-shadow: 0 12px 16px 0 rgba(214,214,214,0.24),0 17px 50px 0 rgba(214,214,214,0.19);
}
/*-------------------Bilder / Gif's-------------------*/
#bild1{
  position: absolute;
  margin-bottom: 80%;
  margin-left: 34%;
}

#bild2{
  position: absolute;
  margin-bottom: 90%;
  margin-left: 20%;
}

/*-------------------LASER-------------------*/
.lightsaber {
  position: relative;
}

.lightsaber label {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 88;
  text-indent: -9999px;
  width: 15px;
  height: 50px;
  border-bottom: solid 4px grey;
  border-top: solid 5px grey;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background: rgb(226,226,226); /* Old browsers */
  background: linear-gradient(to right, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */
}

.lightsaber .switch {
  background: #B94A37;
  width: 5px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 13px;
  transition: left 200ms;
  -moz-transition: left 200ms;
  -webkit-transition: left 200ms;
  -o-transition: left 200ms;
  -ms-transition: left 200ms;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.lightsaber input[type=checkbox] {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  z-index: 77;
}

.lightsaber .plasma {
  transition: height 300ms,;
  -moz-transition: height 300ms;
  -webkit-transition: height 300ms;
  -o-transition: height 300ms;
  -ms-transition: height 300ms;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 55px;
  left: 2px;
  width: 10px;
  display: block;
  filter: blur(1px);
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  height: 0;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.lightsaber input[type=checkbox]:checked ~ div.plasma {
  height: 250px;
}

.lightsaber input[type=checkbox]:hover ~ div.switch {
  background: #c09853;
  left: 12px;
}

.lightsaber input[type=checkbox]:checked ~ div.switch {
  background: #468847;
}

/*-------------------Roter Laser-------------------*/
.vader {
  background: rgb(229,17,21); /* Old browsers */
  background: linear-gradient(to right, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* W3C */
  background: -moz-linear-gradient(left, rgba(229,17,21,1) 0%, rgba(254,254,254,1) 30%, rgba(254,254,254,1) 47%, rgba(254,254,254,1) 71%, rgba(229,17,21,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,17,21,1)), color-stop(30%,rgba(254,254,254,1)), color-stop(47%,rgba(254,254,254,1)), color-stop(71%,rgba(254,254,254,1)), color-stop(100%,rgba(229,17,21,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51115', endColorstr='#e51115',GradientType=1 ); /* IE6-9 */
  animation-name: vader;
  -moz-animation-name: vader;
  -webkit-animation-name: vader;
  -o-animation-name: vader;
  -ms-animation-name: vader;
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}

/*-------------------Blauer Laser-------------------*/
.obi-wan {
  background: rgb(55,132,214); /* Old browsers */
  background: linear-gradient(to right, rgba(55,132,214,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(55,132,214,1) 100%); /* W3C */
  background: -moz-linear-gradient(left, rgba(55,132,214,1) 0%, rgba(254,254,254,1) 30%, rgba(254,254,254,1) 47%, rgba(254,254,254,1) 71%, rgba(55,132,214,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(55,132,214,1)), color-stop(30%,rgba(254,254,254,1)), color-stop(47%,rgba(254,254,254,1)), color-stop(71%,rgba(254,254,254,1)), color-stop(100%,rgba(55,132,214,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(55,132,214,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(55,132,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(55,132,214,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(55,132,214,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(55,132,214,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(55,132,214,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3784d6', endColorstr='#3784d6',GradientType=1 ); /* IE6-9 */
  animation-name: obi-wan;
  -moz-animation-name: obi-wan;
  -webkit-animation-name: obi-wan;
  -o-animation-name: obi-wan;
  -ms-animation-name: obi-wan;
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}

div {
  -webkit-transform : translateZ(0);
  -o-transform : translateZ(0);
  -moz-transform : translateZ(0);
  transform : translateZ(0);
}

@keyframes vader {
  from { box-shadow: 0 0 10px #e51115; }
  50% { box-shadow: 0 0 16px #e51115; }
  to { box-shadow: 0 0 10px #e51115; }
}
@-moz-keyframes vader {
  from { box-shadow: 0 0 10px #e51115; }
  50% { box-shadow: 0 0 16px #e51115; }
  to { box-shadow: 0 0 10px #e51115; }
}
@-webkit-keyframes vader {
  from { box-shadow: 0 0 10px #e51115; }
  50% { box-shadow: 0 0 16px #e51115; }
  to { box-shadow: 0 0 10px #e51115; }
}
@-o-keyframes vader {
  from { box-shadow: 0 0 10px #e51115; }
  50% { box-shadow: 0 0 16px #e51115; }
  to { box-shadow: 0 0 10px #e51115; }
}
@-ms-keyframes vader {
  from { box-shadow: 0 0 10px #e51115; }
  50% { box-shadow: 0 0 16px #e51115; }
  to { box-shadow: 0 0 10px #e51115; }
}

@keyframes obi-wan {
  from { box-shadow: 0 0 10px #3784d6; }
  50% { box-shadow: 0 0 16px #3784d6; }
  to { box-shadow: 0 0 10px #3784d6; }
}
@-moz-keyframes obi-wan {
  from { box-shadow: 0 0 10px #3784d6; }
  50% { box-shadow: 0 0 16px #3784d6; }
  to { box-shadow: 0 0 10px #3784d6; }
}
@-webkit-keyframes obi-wan {
  from { box-shadow: 0 0 10px #3784d6; }
  50% { box-shadow: 0 0 16px #3784d6; }
  to { box-shadow: 0 0 10px #3784d6; }
}
@-o-keyframes obi-wan {
  from { box-shadow: 0 0 10px #3784d6; }
  50% { box-shadow: 0 0 16px #3784d6; }
  to { box-shadow: 0 0 10px #3784d6; }
}
@-ms-keyframes obi-wan {
  from { box-shadow: 0 0 10px #3784d6; }
  50% { box-shadow: 0 0 16px #3784d6; }
  to { box-shadow: 0 0 10px #3784d6; }
}

/*#footerlichtschwert .lightsaber input[type=checkbox]:checked ~ div.plasma {
  height: 100vh;
}

#footerlichtschwert .lightsaber .plasma {
  width: 150px;
}*/
